.html{
    width: 100%;
    height: 100%;
}
.body{
    width: 100%;
    height: 100%;
    background-color:#20c997;
}
.container{
    width: 100%;
    height: 100%;
    background-color: #20c997;
    
}

.row2{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    background-image: url('../../imagenes/rescatados/Maya.png');
}
