.html{
    width: 100%;
    height: 100%;
}
.body{
    background-color:#20c997;
}
.container{
    width: 100%;
    height: 100%;
    background-color: #20c997;
    
}


.row2{
    width: 100%;
    height: 100%;
    background-image: url('../../imagenes/rescatados/Maya.png');
}
