<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <table>
        <tr>
            <td>id Adopcion</td>
            <td>Adoptante</td>
            <td>Perro</td>
            <td>Fecha Adopcion</td>
            
        </tr>
        {% for adop in adop %}
        
         {% csrf_token %}
            <tr>
                <td>{{adop.name}}</td>
                <td>{{adop.idFichaAnimal.idPerro.nombrePerro}}</td>
                <td>{{adop.idFichaAnimal.idPerro.nombrePerro}}</td>
                <td>{{adop.FechaAdopcion}}</td>
                <td>{{Perro.idRaza.descripcion}}</td>                                         
            </tr>            
        {% endfor %}
    </table>
    {% if true %}
    <script>alert("Adopcion realizada")</script>{% endif %}
</body>

</html>