{% extends "core/plantilla.htm"%}
{% load static %}

<head>

    {% block titulo %}
    Registro Adoptante
    {% endblock titulo %}
    {% block css %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/sformulario.css' %}" />
    {% endblock css %}
</head>

<body>
    {% block menu %}
    {% load static %}
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:rgb(113, 218, 183)">
        <a class="navbar-brand" href="#"> <img src="{% static './imagenes/logo.png'%}" margin-left="0.5%" margin-top="0.5%"
                height="auto" width="auto" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto" style="color:white">
                <li class="nav-item active">
                    <a class="nav-link" href="" style="color:white">Inicio <span class="sr-only">()</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color:white">Quienes Somos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" 
                    aria-expanded="false" style="color:white">Servicios</a>
                    {% if request.user.is_staff == True %}
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'regM' %}">Registrar Mascota</a>
                        <a class="dropdown-item" href="{% url 'modM' %}">Modificar Mascota</a>
                        <a class="dropdown-item" href="{% url 'eliM' %}">Eliminar Mascota</a>
                        <a class="dropdown-item" href="{% url 'listM' %}">Listar Mascota</a>
                        <a class="dropdown-item" href="{% url 'form2' %}">Registrar Usuario</a>
                        <a class="dropdown-item" href="{% url 'adop' %}">Adopciones</a>
                    {% else %}
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'listM' %}">Listar Mascota</a>

                    {% endif %}
                    
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        
                    {% comment %} <div class="dropdown-divider">
                    </div>
                        <a class="dropdown-item" href="#">Something else here</a> {% endcomment %}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color:white">Contactanos</a>
                </li>
                
                {% if user is not None and user.is_active %}
                <li class="nav-item">
                    <a class="nav-link" href="/logout/" style="color:white">Salir</a>
                </li>{% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login/" style="color:white">Ingresar</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% endblock menu %}
    {% block contenedor %}
    <div class="row2">
    <div class="row" style="width: 101%; height: 100%; margin:right;">
        <div class="col-sm-12 col-sm-offset-4" style="display: flex;justify-content: center;">
            <div class="panel panel-default" style="margin:left:50%%;">
                <div class="panel-heading" style="margin:left;">
                    <h1 class="panel-title" style="text-align: center;">Registro</h1>
                </div>
                <div class="panel-body" style=" margin:left;" ;>
                    <form  class="form-horizontal" method="POST" style="margin:left;">
                        {% csrf_token %}
                        <div class="form-group" style="width: 100%; height: 100%; margin:left:50%;">
                            <label class="col-sm-10 control-label" for="txtemail" style="text-align: center;">Email</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtemail" name="txtemail" 
                                placeholder="algo@ejemplo.cl" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required />
                            </div>
                        </div>
                        <div class="form-group" style="width: 100%; height: 100%; margin:left:50%;">
                            <label class="col-sm-10 control-label" for="txtUser" style="text-align: center;">Usuario</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtUser" name="txtUser" 
                                placeholder="usuario" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-10 control-label" for="txtPassword" style="text-align: center;">Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="txtPassword" name="txtPassword"
                                    placeholder="Password" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-10 control-label" for="txtConfpassword" style="text-align: center;">
                            Confirmar password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="txtConfpassword" name="txtConfpassword"
                                    placeholder="Confirmar password" equalTo: "#password" required />
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-10 control-label" for="txtNombre" style="text-align: center;">Nombre
                                completo</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtNombre" name="txtNombre" 
                                placeholder="Nombre Completo" pattern="[a-zA-Z\s]{3,}" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-10 control-label" for="txtRun" style="text-align: center;">Run</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtRun" name="txtRun" 
                                placeholder="Ejemplo: 11111111k"  required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-10 control-label" for="txtTelefono" style="text-align: center;">Telefono</label>
                            <div class="col-sm-3" style="float:left;">
                                <input type="text" class="form-control" id="txtTelefono1" name="txtTelefono1"
                                    placeholder="+569" disabled="disabled" />
                            </div>
                            <div class="col-sm-7" style="float:left;">
                                <input type="text" class="form-control" id="txtTelefono" name="txtTelefono" 
                                placeholder="11111111" pattern="[0-9]{8,8}$" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-10 control-label" for="dtFechanaci" style="text-align: center;">Fecha
                                de Nacimiento</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" id="dtFechanaci" name="dtFechanaci" 
                                min="1900-01-01" max="2000-12-31" placeholder="Fecha de Nacimiento" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-10 control-label" for="cboRegion" style="text-align: center;">Region</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="cboRegion" name="cboRegion" placeholder="Region"
                                    required>
                                    {% for i in reg %}
                                    <option value="{{i.name}}">{{i.descripcion}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-10 control-label" for="cboComuna" style="text-align: center;">Comuna</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="cboComuna" name="cboComuna" placeholder="Comuna"
                                    required>
                                    {% for i in com %}
                                    <option value="{{i.name}}">{{i.descripcion}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-10 control-label" for="cboVivienda" style="text-align: center;">Tipo
                                De Vivienda</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="cboVivienda" name="cboVivienda" 
                                placeholder="Tipo De Vivienda" required>
                                    {% for i in vivi %}
                                    <option value="{{i.name}}">{{i.descripcion}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group" style="">
                            <label class="col-sm-10 control-label" for="cboPerfiles" style="text-align: center;">Tipo
                                De Perfil</label>
                            <div class="col-sm-10">
                                {% if request.user.is_staff == True %}
                                <select class="form-control" id="cboPerfiles" name="cboPerfiles" 
                                placeholder="Tipo De Perfil" required>
                                    {% for i in perf %}
                                    <option value="{{i.name}}">{{i.descripcion}}</option>
                                    {% endfor %}
                                </select>
                                {% else %}
                                <select  class="form-control" id="cboPerfiles" name="cboPerfiles" 
                                placeholder="Tipo De Perfil" required>
                                    {% for i in perf %}
                                    <option value="{{i.name}}">{{i.descripcion}}</option>
                                    {% endfor %}
                                </select>
                                {% endif %}
                                
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-4">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="aceptar" name="aceptar" value="aceptar"/>
                                    </label>
                                    <label>Por favor acepte nuestras politicas</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-10">
                               <a type="submit"> <button type="submit" id="btnGrabar" class="btn btn-primary" name="registrarse" 
                                value="registrarse">Regístrate</button></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% endblock contenedor %}

</body>

</html>