{% extends "core/plantilla.htm"%}


{% block titulo %}
Inicio Mis Perris
{% endblock titulo %}
{% block css %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
{% endblock css %}

<body>
    {% block menu %}
    {% load static %}
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:rgb(113, 218, 183)">
        <a class="navbar-brand" href="#"> <img src="{% static './imagenes/logo.png'%}" margin-left="0.5%" margin-top="0.5%"
                height="auto" width="auto" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto" style="color:white">
                <li class="nav-item active">
                    <a class="nav-link" href="" style="color:white">Inicio <span class="sr-only">()</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color:white">Quienes Somos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" 
                    aria-expanded="false" style="color:white">Servicios</a>
                    {% if request.user.is_staff == True %}
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'regM' %}">Registrar Mascota</a>
                        <a class="dropdown-item" href="{% url 'modM' %}">Modificar Mascota</a>
                        <a class="dropdown-item" href="{% url 'eliM' %}">Eliminar Mascota</a>
                        <a class="dropdown-item" href="{% url 'listM' %}">Listar Mascota</a>
                        <a class="dropdown-item" href="{% url 'form2' %}">Registrar Usuario</a>
                        <a class="dropdown-item" href="{% url 'adop' %}">Adopciones</a>
                    {% else %}
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'listM' %}">Listar Mascota</a>

                    {% endif %}
                    
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        
                    {% comment %} <div class="dropdown-divider">
                    </div>
                        <a class="dropdown-item" href="#">Something else here</a> {% endcomment %}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color:white">Contactanos</a>
                </li>
                
                {% if user is not None and user.is_active %}
                <li class="nav-item">
                    <a class="nav-link" href="/logout/" style="color:white">Salir</a>
                </li>{% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login/" style="color:white">Ingresar</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% endblock menu %}
    {% block carrusell %}
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="{% static './imagenes/adoptados/Apolo.jpg'%}" style="height:480px" alt="First slide">
                <div class="carousel-caption d-none d-md-block d-sm-block" style="color: black">
                    <h5><b> Apolo </b></h5>
                    <p><b> Disfrutando de los paseos con sus nuevos dueños </b></p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{% static './imagenes/adoptados/Duque.jpg'%}" style="height:480px" alt="Second slide">
                <div class="carousel-caption d-none d-md-block d-sm-block">
                    <h5><b> Duque </b></h5>
                    <p><b> Ahora viaja por todo el pais </b></p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{% static './imagenes/adoptados/Tom.jpg'%}" style="height:480px" alt="Third slide">
                <div class="carousel-caption d-none d-md-block d-sm-block">
                    <h5><b> Tom </b></h5>
                    <p><b> Disfruta de la relajada vida hogareña </b></p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Atras</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
        </a>
    </div>
    {% endblock carrusell %}
    {% block contenedor %}
    {% load static %}
    <div style="background-color: mediumaquamarine;">
        <div style="padding-top: 1%; padding-bottom: 1%; margin-left: 1%;">
            <a href="https://www.facebook.com/"><img img class="card-img-top" style="margin-top: 0%; width:50px; height:50px; margin-right: 2%;"
                    src="{% static './imagenes/Sociales/facebook logo.png' %}" alt=""></a>
            <a href="https://plus.google.com/"><img img class="card-img-top" style="margin-top:0%; width:50px; height:50px; margin-right: 2%;"
                    src="{% static './imagenes/Sociales/google+ logo.png'%}" alt=""></a>
            <a href="https://www.instagram.com/"><img img class="card-img-top" style="margin-top: 0%; width:50px; height:50px; margin-right: 2%;"
                    src="{% static './imagenes/Sociales/instagram logo.png'%}" alt=""></a>
            <a href="https://www.google.com/gmail/"><img img class="card-img-top" style="margin-top: 0%; width:50px; height:50px;"
                    src="{% static './imagenes/Sociales/correo logo.png'%}" alt=""></a>
        </div>
    </div>

    <div class="row" style="margin-top: 2%">
        <div class="col-sm-6" style="background-color: white; padding-bottom: 16%">
            <p style="color: black; font-family: 'Arial'; font-size: 30px; text-align: right; margin-top: 3%">
                <b>RESCATE</b>
            </p>
            <p style="color: grey; font-family: 'Arial'; font-size: 15px; text-align: right; margin-top:-3%;"> ETAPA
                UNO </p>
            <p style="color: black; font-family: 'Arial'; font-size: 20px; text-align: right; margin-top: -3.5%;">
                <b> ___________ </b>
            </p>
            <p style="color: black; font-family: 'Arial'; font-size: 15px; margin-top: 3%; text-align: right">
                Rescatamos perros en situacion de peligro y/o abandono. Los rehabilitamos y los preparamos para
                bucarles un hogar.</p>
            <img img class="card-img-top" style="margin-left: 30%; margin-top: 3%; height: 60%; width: 70%;" src="{% static './imagenes/rescate.jpg'%}"
                alt="">
        </div>

        <div class="col-sm-6" style="background-color: white; padding-bottom: 12%;">
            <img img class="card-img-top" style="margin-left:0%; margin-top:3%; width: 65%; height: 55%;" src="{% static './imagenes/crowfunding.jpg'%}"
                alt="">
            <p style="color: black; font-family: 'Arial'; font-size: 30px; margin-top: 3%">
                <b> CROWFUNDING </b>
            </p>
            <p style="color: grey; font-family: 'Arial'; font-size: 15px; margin-top: -3%;"> FINANCIAMIENTO </p>
            <p style="color: black; font-family: 'Arial'; font-size: 20px; margin-top: -4%;">
                <b> __________________ </b>
            </p>
            <p style="color: black; font-family: 'Arial'; font-size: 15px;"> Sigue nuestraas redes sociales para
                informarte acerca de las diversas campañas y actividades que realizamos para obtener financiamiento
                para seguir ayudando.</p>
            <button style="background-color: white; border-color: black; font-family: 'Arial';">CAMPAÑAS</button>
        </div>
    </div>

    <div class="card-body" style="background-color: rgb(113, 218, 183);">
        <p style="color: black; font-family: 'Arial'; font-size: 30px; text-align: center; ">
            <b>---- RESCATADOS ----</b>
        </p>
    </div>

    {% endblock contenedor %}
    {% block gallery %}


    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="" data-image="{% static './imagenes/rescatados/Bigotes.jpg'%}"
                        data-target="#image_bi">
                        <img class="img-thumbnail" src="{% static './imagenes/rescatados/Bigotes.jpg'%}" alt="Another alt text">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="" data-image="{% static './imagenes/rescatados/Chocolate.jpg'%}"
                        data-target="#image_ch">
                        <img class="img-thumbnail" src="{% static './imagenes/rescatados/Chocolate.jpg'%}" alt="Another alt text">
                    </a>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="" data-image="{% static './imagenes/rescatados/Luna.jpg'%}"
                        data-target="#image_lu">
                        <img class="img-thumbnail" src="{% static './imagenes/rescatados/Luna.jpg'%}" alt="Another alt text">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Test1" data-image="{% static './imagenes/rescatados/Maya.jpg'%}"
                        data-target="#image_ma">
                        <img class="img-thumbnail" src="{% static './imagenes/rescatados/Maya.jpg'%}" alt="Another alt text">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice"
                        data-image="{% static './imagenes/rescatados/Oso.jpg'%}" data-target="#image_os">
                        <img class="img-thumbnail" src="{% static './imagenes/rescatados/Oso.jpg'%}" alt="Another alt text">
                    </a>
                </div>



                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice"
                        data-image="../imagenes/rescatados/Pexel.jpg" data-target="#image_pe">
                        <img class="img-thumbnail" src="{% static './imagenes/rescatados/Pexel.jpg'%}" alt="Another alt text">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice"
                        data-image="../imagenes/rescatados/Wifi.jpg" data-target="#image_wi">
                        <img class="img-thumbnail" src="{% static './imagenes/rescatados/Wifi.jpg'%}" alt="Another alt text">
                    </a>
                </div>
            </div>

            <div class="modal fade" id="image_bi" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="image-gallery-title"></h4>
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                                    class="sr-only">Close</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img id="image-gallery-image" class="img-responsive col-md-12" src="{% static './imagenes/rescatados/Bigotes.jpg'%}">
                            <hi>Quiere un Amigo con quien Jugar</hi>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="image_ch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="image-gallery-title"></h4>
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                                    class="sr-only">Close</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img id="image-gallery-image" class="img-responsive col-md-12" src="{% static './imagenes/rescatados/Chocolate.jpg'%}">
                            <hi>Es muy fiel</hi>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="image_lu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="image-gallery-title"></h4>
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                                    class="sr-only">Close</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img id="image-gallery-image" class="img-responsive col-md-12" src="{% static './imagenes/rescatados/Luna.jpg'%}">
                            <hi>Solo quiere amor</hi>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="image_ma" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="image-gallery-title"></h4>
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                                    class="sr-only">Close</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img id="image-gallery-image" class="img-responsive col-md-12" src="{% static './imagenes/rescatados/Maya.jpg'%}">
                            <hi>Se ve muy ruda, pero es azucar</hi>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="image_os" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="image-gallery-title"></h4>
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                                    class="sr-only">Close</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img id="image-gallery-image" class="img-responsive col-md-12" src="{% static './imagenes/rescatados/Oso.jpg'%}">
                            <hi>De peludo amor</hi>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="image_pe" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="image-gallery-title"></h4>
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                                    class="sr-only">Close</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img id="image-gallery-image" class="img-responsive col-md-12" src="{% static './imagenes/rescatados/Pexel.jpg'%}">
                            <hi>Pequeño pero valiente</hi>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="image_wi" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="image-gallery-title"></h4>
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                                    class="sr-only">Close</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img id="image-gallery-image" class="img-responsive col-md-12" src="{% static './imagenes/rescatados/Wifi.jpg'%}">
                            <hi>Creara un vinculo contigo</hi>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    {% endblock gallery %}

</body>

</html>