{% extends "core/plantilla.htm"%}
{% load static %}
<head>
    {% block titulo %}
    Listar Mascota
    {% endblock titulo %}
    {% block css %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"id="bootstrap-css">
    {% endblock css %}
    {% block js %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    {% endblock js %}
    
</head>

<body>
    {% block menu %}
    {% load static %}
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:rgb(113, 218, 183)">
        <a class="navbar-brand" href="#"> <img src="{% static './imagenes/logo.png'%}" margin-left="0.5%" margin-top="0.5%"
                height="auto" width="auto" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto" style="color:white">
                <li class="nav-item active">
                    <a class="nav-link" href="" style="color:white">Inicio <span class="sr-only">()</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color:white">Quienes Somos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" 
                    aria-expanded="false" style="color:white">Servicios</a>
                    {% if request.user.is_staff == True %}
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'regM' %}">Registrar Mascota</a>
                        <a class="dropdown-item" href="{% url 'modM' %}">Modificar Mascota</a>
                        <a class="dropdown-item" href="{% url 'eliM' %}">Eliminar Mascota</a>
                        <a class="dropdown-item" href="{% url 'listM' %}">Listar Mascota</a>
                        <a class="dropdown-item" href="{% url 'form2' %}">Registrar Usuario</a>
                        <a class="dropdown-item" href="{% url 'adop' %}">Adopciones</a>
                    {% else %}
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'listM' %}">Listar Mascota</a>

                    {% endif %}
                    
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        
                    {% comment %} <div class="dropdown-divider">
                    </div>
                        <a class="dropdown-item" href="#">Something else here</a> {% endcomment %}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color:white">Contactanos</a>
                </li>
                
                {% if user is not None and user.is_active %}
                <li class="nav-item">
                    <a class="nav-link" href="/logout/" style="color:white">Salir</a>
                </li>{% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login/" style="color:white">Ingresar</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% endblock menu %}
    {% block contenedor %}
    <div style="height: 1000px; width: auto;">
        <nav>
            <table class="table table-bordered table-striped">
                <thead style="background-color:rgb(113, 218, 183);">
                    <tr>
                        <th style="text-align: center" scope="col">id Perro</th>
                        <th style="text-align: center" scope="col">Nombre Mascota</th>
                        <th style="text-align: center" scope="col">Descripción </th>
                        <th style="text-align: center" scope="col">Estado de la Mascota</th>
                        <th style="text-align: center" scope="col">Raza</th>
                        <th style="text-align: center" scope="col">Foto</th>
                    </tr>
                </thead>
        </nav>
    </div>        
            {% for Perro in m %}
            <tr>
                <td>{{Perro.name}}</td>
                <td>{{Perro.nombrePerro}}</td>
                <td>{{Perro.descPerro}}</td>
                <td>{{Perro.idEstado.descripcion}}</td>
                <td>{{Perro.idRaza.descripcion}}</td>
                <td><img style="height:175px; width:175px" src="/media/{{Perro.imagenPerro}}" width="20%" height="20%"></td>
            </tr>
            {% endfor %}
        </table>
        
    {% endblock contenedor %}
</body>

</html>