<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"id="bootstrap-css">
    <title>Login</title>
</head>
<body>
    <div style="width: 100%; height: 100%; background: url(../../static/imagenes/perroVF2.png)">
        <div class="card-body">
            <div style="width: 400px; height: 700px; margin-top: 11%; margin-left: 35%;">
                <div style="background-color:rgb(113, 218, 183)" class="form-group">
                    <h1 style="text-align: center; padding-top: 1%">
                        Login de Acceso
                    </h1>
                    <form method="POST">
                    {% csrf_token %}
                    <div style="margin-left:23%;" class="form-row">
                        <center>
                            <h5>Usuario: </h5>
                            <input class="form-control" type="text" name="txtUser" /> <br>
                            </center>
                    </div>
                    <div style="margin-left: 23%" class="form-row">
                        <center>
                            <h5>Password: </h5>
                            <input class="form-control" type="password" name="txtPass" /><br>
                        </center>
                    </div>
                    <div style="margin-left: 42%; padding-bottom: 3%">
                        <button type="submit" class="btn btn-primary">Validar</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>