<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST" >
    {% csrf_token %}
    <input  name="txtUsuario"/>
    <button type="submit" >RECUPERAR</button>
    
    </form>
    {% if correo %}
    <script> alert("Enviado");</script>
    {% endif %}
    {% if noexiste %}
    <script> alert("{{wtf}}");</script>
    {% endif %}
</body>
</html>