{% extends "core/plantilla.htm"%}
{% load static %}

<head>

    {% block titulo %}
    Modificar Mascota
    {% endblock titulo %}
    {% block css %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/sregistro.css' %}" />
    {% endblock css %}
</head>

<body>
    {% block menu %}
    {% load static %}
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:rgb(113, 218, 183)">
        <a class="navbar-brand" href="#"> <img src="{% static './imagenes/logo.png'%}" margin-left="0.5%" margin-top="0.5%"
                height="auto" width="auto" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto" style="color:white">
                <li class="nav-item active">
                    <a class="nav-link" href="" style="color:white">Inicio <span class="sr-only">()</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color:white">Quienes Somos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" 
                    aria-expanded="false" style="color:white">Servicios</a>
                    {% if request.user.is_staff == True %}
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'regM' %}">Registrar Mascota</a>
                        <a class="dropdown-item" href="{% url 'modM' %}">Modificar Mascota</a>
                        <a class="dropdown-item" href="{% url 'eliM' %}">Eliminar Mascota</a>
                        <a class="dropdown-item" href="{% url 'listM' %}">Listar Mascota</a>
                        <a class="dropdown-item" href="{% url 'form2' %}">Registrar Usuario</a>
                        <a class="dropdown-item" href="{% url 'adop' %}">Adopciones</a>
                    {% else %}
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'listM' %}">Listar Mascota</a>

                    {% endif %}
                    
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        
                    {% comment %} <div class="dropdown-divider">
                    </div>
                        <a class="dropdown-item" href="#">Something else here</a> {% endcomment %}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color:white">Contactanos</a>
                </li>
                
                {% if user is not None and user.is_active %}
                <li class="nav-item">
                    <a class="nav-link" href="/logout/" style="color:white">Salir</a>
                </li>{% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login/" style="color:white">Ingresar</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% endblock menu %}
    {% block contenedor %}
    <div class="row" style="width: 100%; height: 100%; background-color: #20c997;">
        <div class="col-sm-12 col-sm-offset-2" style="display: flex;justify-content: center;">
            <div class="panel panel-default" style="margin:left;">
                <div class="panel-heading" style="margin:left;">
                    <h1 class="panel-title" style="text-align: center;">Registro de Perros</h1>
                </div>
                <div class="panel-body" style="margin:left;" ;>
                    <form id="Form" name="signupForm" class="form-horizontal" enctype="multipart/form-data" method="POST" style="margin:left;">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-10 control-label" for="txtNombrePerro" style="text-align: center;">Nombre del Perro</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtNombrePerro" name="txtNombrePerro"
                                    placeholder="Nombre del Perro" pattern="[a-zA-Z\s]{3,}" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-10 control-label" for="txtDescripcion" style="text-align: center;">Descripcion del perro</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtDescripcion" name="txtDescripcion"
                                placeholder="Descripción del animal" pattern="[a-zA-Z\s]{3,}" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-10 control-label" for="cboEstado" style="text-align: center;">Estado del Perro</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="cboEstado" name="cboEstado" placeholder="Estado del animal"
                                required>
                                {% for i in est %}
                                <option value="{{i.name}}">{{i.descripcion}}</option>
                                {% endfor %}
                            </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-10 control-label" for="cboRaza" style="text-align: center;">Raza</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="cboRaza" name="cboRaza" placeholder="Raza del animal"
                                    required>
                                    {% for i in raz %}
                                    <option value="{{i.name}}">{{i.descripcion}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-10 control-label" for="fileFoto" style="text-align: center;">Foto</label>
                            <div class="col-sm-10">
                                <input type="file" class="form-control" id="fileFoto" name="fileFoto" placeholder="Imagen del Perro"
                                required />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-4">
                                <button type="submit" id="btnGrabar" class="btn btn-primary" name="registrarse" value="registrarse">Registrar
                                    Perro</button>
                            </div>
                        </div>
                        <div style="visibility: hidden;">
                        <label>
                        <h1>Yo no mate a puppy</h1>
                        </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock contenedor %}

</body>

</html>
